<h1>{{details.name}}</h1>

<p>{{details.postBody}}</p>
<a href="/{{details.id}}/edit">Edit</a>
<a href="/{{details.id}}/delete">Delete</a>
<img src="{{details.image}}">
Comments:
<ul>

<li>{{details.commentBody}}</li>

</ul>

<form action="/{{details.id}}" method="post">

  <select name="post_id">
    <option value="{{details.cpId}}">{{details.UserName}}</option>
  </select>

  <select name="user_id">
    <option value="{{details.cuId}}">{{details.id}}</option>
  </select>

    <textarea name='body' rows='15'>Write comment</textarea>
    <button type="submit">Create Comment</button>
</form>
