<h1>{{details.name}}</h1>

<p>{{details.postBody}}</p>
<p>{{details.userName}}</p>
<a href="/{{details.postId}}/edit">Edit</a>
<a href="/{{details.postId}}/delete">Delete</a>
<img src="{{details.image}}">
Comments:
<ul>
{{#each comments}}
<li>{{this.body}}</li>
{{/each}}
</ul>

<form action="/{{details.postId}}" method="post">

  <select name="user_id">
    {{#each names}}
    <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>

    <input type="hidden" name="post_id" value="{{details.cpId}}">



    <textarea name='body' rows='15'>Write comment</textarea>
    <button type="submit">Create Comment</button>
</form>
