<h1>{{details.name}}</h1>

<p>{{details.body}}</p>
<a href="/{{details.id}}/edit">Edit</a>
<a href="/{{details.id}}/delete">Delete</a>
<img src="{{details.image}}">
Comments:
<ul>
<li>{{details.body}}</li>
</ul>
<a href="/{{details.id}}/addComments"><p>Add a Comment</p></a>
